body {
    font-family: Arial, Helvetica, sans-serif;
}

.empty {
    text-align: center;
}

.title {
    text-align: center;
    color: black;

}

.app-container {
    display: flex-column;
    text-align: center;
    max-width: 400px;
    max-height: 600px;
    margin: 50px auto ;
    padding: 20px;
    background-color: lightblue;
    border-radius: 15px;
    border: 1px solid black;
}

.form-container {
    margin: 20px;
    }

.input-field {
    flex: 1;
    padding: 10px;
    margin-right: 1px solid gray;
    border-radius: 5px;
}

.add-button {
    padding: 10px;
    border-radius: 5px;

}

.todo-list {
    list-style: none;
    padding: 5px;
    margin: 5px;
}

.todo-item {
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border: 1px solid black;
}

.delete-button {
    background-color: brown;
    border-radius: 50%;
    padding: 5px 10px;
    color: white;
}